html
{
    font-family: 'Forum', cursive;
}

.br
{
    border: 2px solid red;
}

#main-section
{
    background-color: rgba(189, 120, 8, 0.753);
    
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-wizard
{
    height: 80vh;
    width: 80vw;
    display: flex;
    border-radius: 50px;
    box-shadow: 0 0 30px black;
}

.content-image
{
    background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color:rgba(255, 171, 46, 0.616);
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.form-section
{
    background-color: #333126;
    width: 60%;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img-style
{
    width: 90%;
    height: auto;
    filter: drop-shadow(0 0 4px #cfa54b);
}

h1
{
    width: 60%;
    color: rgb(200, 153, 91);
    font-family: 'Forum', cursive;
    font-size: 2.5rem;
    text-align: center;
}

.formDescr
{
    width: 80%;
    color: rgb(228, 198, 158);
    font-family: 'Forum', cursive;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 3rem;
}

legend
{
    color: rgb(228, 198, 158);
    font-family: 'Forum', cursive;
    font-size: 2rem;
    text-align: center;
}

.input-section
{
    width: 80%;
}


.form_input
{
    border: 2px solid #1a1918;
    border-radius: 0.5rem;
    height: 2rem;
    width: 30rem;
    font-family: 'Forum', cursive;
    font-size: 1rem;
    color: blanchedalmond;
    outline: none;
    transition: all 160ms ease-in;
}

.form_input:hover
{
    border-color: #dbbb76;
}

.form_input:focus
{
    border-color: #9b7931;
}
.input-group
{
    position: relative;
}

.form_label
{
    position: absolute;
    left: 1rem;
    top: 0.6rem;
}

fieldset
{
    border-radius: 20px;
}

.existingUser
{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.signInP
{
    color: rgb(228, 198, 158);
    font-family: 'Forum', cursive;
    font-size: 1rem;
}

.signInLink
{
    
    color: hotpink;
    padding-left: 5px;
}

.submitButton
{
    margin: 1rem;
    width: 10rem;
    font-size: 2rem;
    height: 3rem;
    background-color: rgb(78, 119, 1);
    color: white;
    border-radius: 10px;
}